

  <div id="booking" class="section">

    <div class="section-center">
        <div class="container">
            <div class="row">
                <div class="booking-form">
                    <div class="form-header">
                        <h1>Easy Transportation</h1>
                    </div>
                    <form>
                        
                        <div class="form-btn">
                            <a routerLink="/book"><button class="submit-btn">Get a Cab</button></a>
                            <a routerLink="/view"><button class="submit-btn float">View all Bookings </button></a>
                        </div>
                         
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>